.row
  .col
    .form-segment
      %h1 Competition
      #state= "Competition #{competition.state}"

.row
  .col
    - unless competition.players.size.zero?
      .players-list.rounded.border
        .form-segment
          %h3 Players
          %ol
            - competition.players.each do |player|
              %li#score= "#{player.name}: #{pluralize(player.points, 'point')}"

    - unless competition.started? || competition.finished?
      #add-player.form.form-segment
        = form_tag(admin_one_off_competition_players_path(competition.id), method: :create) do
          .input-group
            = text_field_tag('competitor[name]', nil, class: 'form-control', placeholder: 'Name')
            .input-group-btn
              = submit_tag('Add Player', class: 'btn btn-secondary')

    - if competition.created? && competition.players.any?
      .form-segment
        = button_to 'Start Competition', admin_one_off_competition_state_path(competition.id), method: :post, class: 'btn btn-primary'

    - if competition.started?
      .players-list.rounded.border
        #add-points.form.form-segment
          = form_tag(admin_one_off_competition_points_path(competition.id), method: :create) do
            .input-group
              .input-group-btn
                = submit_tag('Add', class: 'btn btn-secondary')
              = select_tag(:player, options_from_collection_for_select(competition.players, :id, :name), class: 'form-control')
              = text_field_tag('points', nil, class: 'form-control', placeholder: 'points')

      .form-segment
        = button_to 'Finish Competition', admin_one_off_competition_state_path(competition.id), method: :delete, class: 'btn btn-primary'

    .form-segment
      - if competition.finished?
        #winner= "#{competition.winning_player.name} wins"
        - if competition.players.size == 2
          - first = competition.players_sorted_by_points.first
          - second = competition.players_sorted_by_points.last
          #final-score= "#{first.name} #{first.points} - #{second.points} #{second.name}"

  .col
